+++
title = "Cargomail"
linkTitle = "Cargomail"

+++

{{< blocks/cover title="A Revised Email System!" image_anchor="top" height="full" color="blue">}}
	<div class="mx-auto">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /docs">}}">
			Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<p class="lead mt-5 text-center" style="font-weight: 500">
			Email is the most pervasive form of business information exchange. It is used as an interpersonal
			communication tool and often as a default choice to send files. Despite the importance of
			the email system, the whole ecosystem relies on 50-year-old architecture and protocol design.
		</p>
		<p class="lead mt-5 text-center" style="font-weight: 500">
			Given that, we introduce Cargomail — a revised email system where each email consists
			of separate resources stored in a Cargo mailbox. Thus, Cargomail can keep and transfer a massive amount
			of data. So people can use Cargomail to store and exchange messages, documents, images, audio, and videos.
		</p>
	</div>
	{{< blocks/link-down color="info" >}}
{{< /blocks/cover>}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fab fa-docker" title="Get Docker image!" %}}
<a href="https://hub.docker.com/repository/docker/1token/cargomail">Docker Hub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Clone, build, deploy!" %}}
<a href="https://github.com/cargomail-org">Repositories on GitHub</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
<a href="https://twitter.com/cargomailorg">Stay up to date with our latest news</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}